.sorting-container {
    border: 2px solid black;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.array-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.array-item {
    margin-right: 5px; 
    display: inline-block; 
    padding: 5px; 
    border: 1px solid black; 
}

/*bubbleSorter*/
.bubbleCompare {
    background-color: rgba(255, 255, 6, 0.937); 
    border-color: rgb(175, 12, 12); 
    color: black; 
    font-weight: bold; 
}

.quickCompare {
    background-color: rgba(255, 255, 6, 0.937); 
    border-color: rgb(175, 12, 12); 
    color: black; 
    font-weight: bold; 
}

.swap-animation {
    animation: swap 0.3s ease-in-out;
}

@keyframes swap {
    0% { transform: scale(1); }
    50% { transform: scale(1.2); }
    100% { transform: scale(1); }
}